h1 {text-align:center;}
h1 {color: black;
    font-family: courier;
    font-size: 350%;
   }
h1{background-image: url("https://media.istockphoto.com/id/1065178846/photo/blurred-crowd-of-unrecognizable-at-the-street.jpg?s=612x612&w=0&k=20&c=t91pGMNnMsWqrsFILvgvuGUQFleJCcFM1DhEC7o_C8o=");
   }

h2,p, ul{text-align:center;}
h2 .center {background-image: url("https://img.freepik.com/free-photo/white-brick-wall-textures-background_1203-6587.jpg?w=2000");
            margin: auto;
            width: 60%;
            border: 3px solid black;
            padding: 10px;
           }
h2{color: black;
         font-family: courier;
         font-size: 100%;
  }
p, ul{color: ghostwhite;
         font-family: courier;
         font-size: 100%;
        }
body {
  background-color: black
}
p{
  background-color: black;
}
li {
  background-color: red;
}
